:root {
    --background-color: #000;
    --text-color: #00bcd4;
    --heading-color: #00bcd4;
    --button-border-color: #00bcd4;
    --status-color: #00bcd4;
    --card-bg-color: rgba(0, 0, 0, 0.5);
    --wetterIcon-color: #00bcd4;
    --button-hover-bg: #00bcd4;
    --button-hover-text: white;
    --icon-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    cursor: url('./assets/cursor.png') 10 5, auto;
}


h1, h2 {
    color: #00bcd4;
}

input, button {
    margin: 5px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid var(--button-border-color);
    border-radius: 20px;
    background-color: black;
    color: var(--text-color);
    margin-bottom: 12px;
    text-align: center;
}
#plz-eingabe {
   
    max-width: 100px;
}
button {
    box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.6),
    inset -3px -3px 5px rgba(0, 0, 0, 0.9);

color: var(--button-border-color);
background-image: radial-gradient(at 88% 40%,
        hsla(240, 15%, 9%, 0.1) 0px,
        transparent 5%),
    radial-gradient(at 0% 4%, hsla(189, 99%, 26%, .2) 0px, transparent 50%),
    radial-gradient(at 10% 4%, hsla(189, 97%, 36%, .2) 0px, transparent 50%),
    radial-gradient(at 100% 99%, hsla(188, 94%, 13%, .2) 0px, transparent 50%);
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover-bg);
    color: var(--background-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: url('./assets/pointer.png') 10 5, pointer;
}


h1 {
    color: #00bcd4;
}

input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #00bcd4;
    border-radius: 15px;
    background-color: #222;
    color: #fff;
}

button:hover {
    background-color: #00bcd4;
    color: #000;
}

#button-container {
    margin-top: 0px;
}

/* Stile für das Diagramm-Container */

.extrahintergrund {
    margin-top: 20px;
    border: 1px solid var(--button-border-color);
    height: 370px;
    width: 350px;
    border-radius: 15px;
    background-image: radial-gradient(at 88% 40%,
    hsla(240, 15%, 9%, 0.1) 0px,
    transparent 5%),
    radial-gradient(at 0% 4%, hsla(189, 99%, 26%, .5) 0px, transparent 50%),
    radial-gradient(at 41% 4%, hsla(189, 97%, 36%, .5) 0px, transparent 50%),
    radial-gradient(at 100% 99%, hsla(188, 94%, 13%, .5) 0px, transparent 50%);
    animation: blob-bounce 5s infinite ease;
    display: none; /* ❌ Unsichtbar beim Laden */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#diagramm-container {
    width: 100%;
    max-width: 350px;
    height: 250px;
    margin: 20px auto;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    display: none; /* ❌ Unsichtbar beim Laden */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
   
}

/* Stile für die einzelnen Diagramme */
canvas {
    width: 100%;
    max-width: 350px;
    background-color: rgba(0, 0, 0, 0.0); /* Leicht transparenter Hintergrund */
    border-radius: 10px; /* Runde Ecken */
    padding: 10px;
    border: 0px solid #00bcd4; /* Rahmenfarbe */
    transition: all 0.4s ease-in-out;
}
